*{
    margin: 0;
    padding: 0;
}
/*base*/
@import "../base/map";
@import "../base/extend";
@import "../base/mixin";

/*componente*/
@import "../Componentes/index";

.servicio-list{
    list-style: none;
    color: black;
    text-decoration: none;
    padding: 10px, 0, 10px, 0;
    font-size: medium;
    
    }
.reseña{
    padding: 100px 100px 1000px 100px;
    font-size:x-large;
    font-family: sans-serif;
}

iframe{
    margin: 20px, 20px, 20px, 20px;
}

