nav{
    header{
            background-image: linear-gradient(to right, map-get($colores,degrade-color-dark),white);
            @extend %grid-columna-1;
        div{ 
            h1{
            @extend %grid-columna-2;
            color: $logo-color;
            font-size: 100px;
            margin: 0 0 0 20px;
            }
            h2{
            @extend %grid-columna-2;
            margin: 0 0 20px 20px;
            font-size: 20px;
            }
        }
        div{
        ul{
            @extend %grid-columna-3;
            list-style: none;
            display: flex;
            justify-content: space-around;
            padding: 10px;
            li{
                a{
                    color: map-get($color, link-colors);
                    text-decoration: none;
                }
                &:hover{
                    -webkit-transform: scale(1.1); transform: scale(1.1);
                }
                }
            }
        }
    }
}
    main{
            @extend %grid-columna-1;
            background-image: url(../Images/lab_fondo.png);
           @include background-image;
            P{
                padding: 100px 100px 1000px 100px;
                font-size:x-large;
                font-family: sans-serif;
            }
        }
    footer{
            @extend %grid-columna-1;
            background-image: linear-gradient(to right, map-get($colors,degrade-color-dark),white);
            display: flex;
            justify-content: space-around;
            padding: 10px 0 10px 0;
            color: map-get($color, link-colors);
            text-decoration: none;
            div{
                section{
                    a{
                        display: flex;
                        justify-content: center;
                        color: $link-colors;
                        text-decoration: none;
                    }
                    &:hover{
                        -webkit-transform: scale(1.1); transform: scale(1.1);
                    }
                }
                }
            }
            